<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Send Notification</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'><link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="custom.css">
  <style type="text/css">
    .input-field {
        margin-top:20px;
    }
    .input-field input{
        margin-top: 2px ;
    }
    form .input-field:first-child {
    margin-bottom: 0rem;
}

    select{
border: 1px solid lightgray;
   min-height: 5vh;
   border-radius: 5px;

   outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
  
  </style>
</head>
<body>
<!-- partial:index.partial.html -->
<ul class="side-menu">
    <li><a href="/tpodisplayquery"><span class="fa fa-question"></span>View Queries</a></li>
    <li><a href="/tpodocuments"><span class="fa fa-file-text"></span>View Student Documents</a></li>
    <li><a href="/tpoaddnotification"><span class="fa fa-paper-plane"></span>Send Notifications</a></li>
    <li><a href="tpoaddselected"><span class="fa fa-user-plus"></span>Add Selected Student</a></li>
    <li><a href="/tpoaddpc"><span class="fa fa-users"></span>Add Coordinator</a></li>
    <li><a href="/tpoaddcompany"><span class="fa fa-university"></span>Add Company details</a></li>
    <li><a href="/tpodisplaycompany"><span class="fa fa-building"></span>View Company Details</a></li>
    <li><a href="/tpologout"><span class="fa fa-sign-out"></span>Logout</a></li>
    </ul>
<!-- partial -->
  

  <main class="container" style="min-width: 380px;min-height: 30vh;">
        <h2 style="margin-bottom: 0rem;">Send Notification</h2>
        <% if (message) { %>
            <p style="color: green"><%= message %></p>
          <% } %>
        <form action="/tpoaddnotification" method="post">
            <div class="input-field">
                <input type="text" name="companyname" id="companyname"
                    placeholder="Enter company name" minlength="1" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="text" name="jobrole" id="jobrole"
                    placeholder="Enter Job Role" minlength="3" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="text" name="location" id="location"
                    placeholder="Enter Location" minlength="1" required>
                <div class="underline"></div>
            </div>
            <div class="input-field">
              
                <input type="text" name="salary" id="salary"
                    placeholder="Enter Salary" min="1" minlength="1" required>
                <div class="underline"></div>
            </div>

            <div class="input-field">
                    <input type="text" name="eligibility" id="eligibility"
                    placeholder="Enter Eligibility Criteria"  minlength="1" required>
                <div class="underline"></div>
            </div>

            <div class="input-field">
                    <input type="text" name="message" id="message"
                    placeholder="Enter additional information"  minlength="1" required>
                <div class="underline"></div>
            </div>
            
            <div class="input-field">
                <label>Interview Date:</label>
                <input type="date" name="interviewdate" id="interviewdate" min="2023-01-01" required>
                <div class="underline"></div>
            </div>
            
            
            
            <input type="submit" value="Send Notification" style="margin-top:20px;">
        </form>

       
    </main>
</body>
</html>
