<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login Form</title>
    <link rel="stylesheet" href="studenthome.css">
    <style type="text/css">
       body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        flex-direction: column;
      }
      
      /* Style the icons */
      .icon {
        display: inline-block;
        width: 70px;
        height: 50px;
        margin: 0 40px;
        font-size: 2.5rem;
       background: linear-gradient(45deg, #8e2de2, #4a00e0); /* Define the gradient */
        -webkit-background-clip: text; /* Apply the gradient to the text */
        background-clip: text;
        -webkit-text-fill-color: transparent; /* Set the text color to transparent */
     
      }
      .bottomheading{
        color:black !important;
        
        -webkit-text-fill-color: black;
        font-size:1rem;
        font-weight: bold;
       
     
      }
   
    </style>
</head>
<body>
    <main class="container">
        
        <h2>Login</h2>
    <div>
      <a href="/student"><div class="icon"><i class="fa fa-users" aria-hidden="true"></i><div class="bottomheading" style="margin-left: -10px;">STUDENT</div></div></a>
      <a href="/loginpc"><div class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i><div class="bottomheading" style="margin-left: 5px;">PC</div></div></a>
      <a href="/tpologin"><div class="icon"><i class="fa fa-user" aria-hidden="true"></i></i><div class="bottomheading" style="margin-left: 5px;">TPO</div></div></a>
    </div>

       
    </main>
</body>
</html>