<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Add Query</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'><link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="custom.css">

</head>
<body>
<!-- partial:index.partial.html -->
<ul class="side-menu">
    <li><a href="/viewnotifications"><span class="fa fa-envelope"></span>View Notifications</a></li>
    <li><a href="/viewstudentprofile"><span class="fa fa-user"></span>View Profile</a></li>
    <li><a href="/editstudentprofile"><span class="fa fa-pencil"></span>Edit Profile</a></li>
    <li><a href="/studentcp"><span class="fa fa-key"></span>Change Password</a></li>
    <li><a href="/studentaq"><span class="fa fa-plus"></span>Add Query</a></li>
    <li><a href="/queryresponse"><span class="fa fa-reply"></span>Query Response</a></li>
    <li><a href="/selectedstudents"><span class="fa fa-check-circle"></span>View Selected Students</a></li>
    <li><a href="/viewcompanies"><span class="fa fa-building"></span>View Company Details</a></li>
    <li><a href="/logout"><span class="fa fa-sign-out"></span>Logout</a></li>
    </ul>
<!-- partial -->
  

  <main class="container" style="min-width: 380px;min-height: 30vh;">
        <h2>Add Query</h2>
        <% if (message) { %>
            <p style="color: green"><%= message %></p>
          <% } %>
        <form action="/addquery" method="post">
            <div class="input-field">
                <input type="text" name="subject" id="subject"
                    placeholder="Enter Subject" minlength="10" required>
                <div class="underline"></div>
            </div>

            <div class="input-field">
                <label style="color: rgba(0, 0, 0, 0.5);">Enter Query:</label><br>
                <textarea id="message" name="message" rows="5" cols="50" required></textarea>
            </div>
            
            <input type="submit" value="Add Query">
        </form>

       
    </main>
</body>
</html>
