<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/1ab94d0eba.js" crossorigin="anonymous"></script>
    <title>Login Form</title>
    <link rel="stylesheet" href="studenthome.css">
    <style type="text/css">
      
  
    </style>
</head>
<body style="background: linear-gradient(45deg, #8e2de2, #4a00e0);">
    <main class="container">
        <h2>Student Portal</h2>
        <form action="/studentlogin">
            <input type="submit" value="Login">
        </form>
        <form action="/studentregister">
            <input type="submit" value="Register">
        </form>

       
    </main>
</body>
</html>